/* Global */
.blog-post {
  padding: 0 var(--spacing-12);
}

/* Frontmatter */
.frontmatter {
  max-width: 80ch;
}

.frontmatter .title {
  position: relative;
  margin-bottom: var(--spacing-12);
  font-size: 2rem;
  line-height: 1.2;
}

.frontmatter .title::before {
  content: '*';
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  font-size: 8rem;
  color: var(--brand-color);
  transform: translate(-50%, -30%);
  opacity: 0.6;
}

.frontmatter .title span {
  position: relative;
  z-index: 1;
}

/* Meta */
.metas {
  margin-bottom: var(--spacing-8);
  padding-left: var(--spacing-4);
  font-size: 0.9rem;
  color: var(--gray-700);
  border-left: 4px solid var(--gray-400);
}

.metas > * {
  margin-bottom: var(--spacing-2);
}

.metas .meta {
  margin-bottom: var(--spacing-3);
}

.metas .meta .meta-label {
  display: block;
  font-size: 0.7rem;
  font-weight: 900;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--gray-800);
}

.metas .tags {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.metas .tags .tag {
  display: block;
  white-space: nowrap;
}

.metas .tags .tag + .tag {
  margin-left: var(--spacing-4);
}

.metas .date {
  font-feature-settings: 'ss01' 1;
}

.metas .extras {
  display: flex;
}

.metas .extras > * {
  display: block;
}

.metas .extras > * + * {
  margin-left: var(--spacing-4);
}

.metas .extras > * + *::before {
  content: '·';
  margin-right: var(--spacing-4);
  color: var(--gray-900);
}

/* Content */
.blog-post .content {
  margin-bottom: var(--spacing-12);
  max-width: 80ch;
}

.blog-post .content .filename {
  padding: var(--spacing-2) var(--spacing-5);
  font-size: 0.8rem;
  color: #fff;
  border-radius: 8px 8px 0 0;
  background-color: #1a1c20;
}

.blog-post .content .filename + .prism-code {
  margin-top: 0;
  border-radius: 0 0 8px 8px;
}

.blog-post .content .prism-code {
  padding: var(--spacing-5);
  border-radius: 8px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

/* Pager */
.pager {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--spacing-8);
}

.pager .next {
  margin-left: auto;
}
