.site-footer {
  display: grid;
  padding-top: var(--spacing-20);
  padding-bottom: var(--spacing-12);
  background-color: var(--gray-200);
}

.site-footer > * {
  padding: 0 var(--spacing-8);
}

@media (min-width: 40em) {
  .site-footer > * {
    padding: 0 var(--spacing-12);
  }
}

@media (min-width: 64em) {
  .site-footer {
    grid-template-columns: var(--spacing-12) 1fr;
    gap: var(--spacing-6);
  }

  .site-footer > * {
    grid-column: 2;
  }
}

.site-footer .links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.site-footer .links > * {
  margin: 0 var(--spacing-2);
}

@media (min-width: 40em) {
  .site-footer .links {
    justify-content: flex-start;
  }

  .site-footer .links > * {
    margin: 0;
  }

  .site-footer .links > * + * {
    margin-left: var(--spacing-4);
  }
}
