.frontmatter {
  max-width: 80ch;
}

.frontmatter .title {
  position: relative;
  margin-bottom: var(--spacing-12);
  font-size: 2rem;
  line-height: 1.2;
}

.frontmatter .title::before {
  content: '*';
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  font-size: 8rem;
  color: var(--brand-color);
  transform: translate(-50%, -30%);
  opacity: 0.6;
}

.frontmatter .title span {
  position: relative;
  z-index: 1;
}
