.header {
  position: relative;
}

.header > div {
  display: grid;
  justify-content: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--space-2);
  margin-inline: auto;
  padding-inline: var(--space-5);
  width: 100%;
  max-width: var(--width-base);
  text-align: center;

  background-image: linear-gradient(to right, var(--gray-300), var(--gray-300));
  background-size: calc(100% - var(--space-10)) 2px;
  background-repeat: no-repeat;
  background-position: bottom center;
}

.header a {
  padding-block: var(--space-1);
}

.header button {
  color: var(--primary-color-700);
  background-color: transparent;
}

@media (min-width: 640px) {
  .header button {
    display: none;
  }
}

.header button svg path {
  stroke-width: 3px;
}

.header nav {
  position: absolute;
  z-index: 10;
  top: calc(100% - var(--space-2));
  right: var(--space-5);
  display: grid;
  gap: var(--space-4);
  padding: var(--space-4);
  width: 100%;
  max-width: var(--width-small);
  border-radius: var(--rounded-lg);
  background-color: var(--primary-color-500);
  box-shadow: var(--shadow-xl), var(--shadow-md);
}

@media (prefers-color-scheme: dark) {
  .header nav {
    background-color: var(--primary-color-700);
  }
}

@media (min-width: 640px) {
  .header nav {
    position: static;
    display: grid;
    grid-template-columns: repeat(6, auto);
    gap: var(--space-4);
    padding: 0;
    width: auto;
    max-width: 100%;
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
  }
}

.header nav a {
  display: grid;
  padding-inline: var(--space-2);
  font-weight: 700;
  font-size: var(--text-xl);
  color: var(--gray-100);
  text-align: left;
  border-radius: var(--rounded-lg);
}

.header nav a[data-current="true"],
.header nav a:hover {
  text-decoration: none;
  color: var(--gray-100);
  background-color: var(--primary-color-300);
}

@media (prefers-color-scheme: dark) {
  .header nav a {
    color: var(--gray-900);
  }

  .header nav a[data-current="true"],
  .header nav a:hover {
    color: var(--gray-900);
    background-color: var(--primary-color-500);
  }
}

@media (min-width: 640px) {
  .header nav a {
    place-items: center;
    padding-block: var(--space-3);
    text-align: center;
    font-size: var(--text-base);
    color: var(--primary-color-700) !important;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    border-radius: 0;
    background-color: transparent !important;
  }

  .header nav a[data-current="true"] {
    border-bottom: 2px solid var(--primary-color-700);
  }

  .header nav a:hover {
    border-bottom: 2px solid var(--gray-700);
  }

  @media (prefers-color-scheme: dark) {
    .header nav a[data-current="true"] {
      border-bottom: 2px solid var(--primary-color-700);
    }

    .header nav a:not([data-current="true"]):hover {
      border-bottom: 2px solid var(--gray-700);
    }
  }
}

.header nav a svg {
  stroke-width: 4px;
}
