.metas {
  margin-bottom: var(--spacing-8);
  padding-left: var(--spacing-4);
  font-size: 0.9rem;
  color: var(--gray-700);
  border-left: 4px solid var(--gray-400);
}

.metas > * {
  margin-bottom: var(--spacing-2);
}

.metas .meta {
  margin-bottom: var(--spacing-3);
}

.metas .meta .meta-label {
  display: block;
  font-size: 0.7rem;
  font-weight: 900;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--gray-800);
}

.metas .tags {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.metas .tags .tag {
  display: block;
  white-space: nowrap;
}

.metas .tags .tag + .tag {
  margin-left: var(--spacing-4);
}

.metas .date {
  font-feature-settings: 'ss01' 1;
}

.metas .extras {
  display: flex;
}

.metas .extras > * {
  display: block;
}

.metas .extras > * + * {
  margin-left: var(--spacing-4);
}

.metas .extras > * + *::before {
  content: '·';
  margin-right: var(--spacing-4);
  color: var(--gray-900);
}
