.portfolio {
  /* background-color: var(--gray-300); */
}

.portfolio > .inner {
  position: relative;
}

@media (min-width: 64em) {
  .portfolio > .inner::before,
  .portfolio > .inner::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    width: 10%;
    height: 100%;
    background-color: var(--white);
    transform: scaleX(1);
    transition: transform 600ms linear;
  }

  .portfolio.visible > .inner::before,
  .portfolio.visible > .inner::after {
    transform: scaleX(0);
  }

  .portfolio > .inner::before {
    left: 0;
    transform-origin: left center;
  }

  .portfolio > .inner::after {
    right: 0;
    transform-origin: right center;
  }
}

.portfolio > .inner img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: 600px;
}
