.projects {
  padding: var(--spacing-12) var(--spacing-8);
  background-color: var(--gray-100);
}

@media (min-width: 40em) {
  .projects {
    padding: var(--spacing-16) var(--spacing-12);
  }
}

.projects > .inner {
  max-width: 72ch;
}

.projects .view-all {
  display: inline-flex;
  align-items: center;
}

.projects .view-all svg {
  margin-left: var(--spacing-2);
}

.projects .loader svg {
  margin-bottom: var(--spacing-2);
  animation: spin 2s linear infinite;
  transform-origin: center;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
