@import url('https://rsms.me/inter/inter.css');

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}

a {
  color: #ec407a;
  text-decoration: none;
  -webkit-text-decoration-skip: objects;
}

a:hover {
  color: #e91e63;
  text-decoration: underline;
}

h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
  position: relative;
  z-index: 2;
  color: inherit;
}

h1 > a:hover,
h2 > a:hover,
h3 > a:hover,
h4 > a:hover,
h5 > a:hover,
h6 > a:hover {
  color: inherit;
  text-decoration: #e91e63 underline;
}

.global-footer {
  display: flex;
}

.global-footer .footer-link {
  margin-right: 1rem;
}

.post-snippet {
  margin-bottom: 32px;
}

.post .title,
.post-snippet .title {
  position: relative;
}

.post .title span {
  position: relative;
  z-index: 2;
}

.post .title::before,
.post-snippet .title::before {
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 0.75em;
  height: 0.75em;
  background-color: #e91e63;
  transform: translate(-30%, -20%);
  opacity: 0.6;
}

.post .date,
.post-snippet .date {
  display: block;
  margin-bottom: -0.5rem;
  font-size: 0.75rem;
  font-weight: 700;
  font-feature-settings: 'ss01' 1;
  color: #676767;
  text-transform: uppercase;
}

.post .content,
.post-snippet .content {
  font-size: 1rem;
  line-height: 1.6;
}

.post .filename {
  padding: 0.5rem 1.3rem;
  font-size: 0.8rem;
  color: #fff;
  border-radius: 8px 8px 0 0;
  background-color: #1a1c20;
}

.post .filename + .prism-code {
  margin-top: 0;
  border-radius: 0 0 8px 8px;
}

.post .prism-code {
  padding: 1.3rem;
  border-radius: 8px;
}

.post img {
  display: block;
  max-width: 100%;
  border-radius: 8px;
}

.post .post-tags {
  display: flex;
  padding: 0;
  flex-wrap: wrap;
  list-style: none;
}

.post .post-tag {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  font-size: 0.7rem;
  color: #8e0030;
  border-radius: 4px;
  background-color: #ffdfe9;
}

.post .extras {
  font-size: 0.8rem;
}

.post footer {
  margin-bottom: 48px;
}

.post .twitter-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  padding: 0.2rem 0.7rem;
  color: #8e0030;
  border-radius: 4px;
  background-color: #ffdfe9;
}

.post .twitter-link:hover {
  text-decoration: none;
  background-color: #f8cad9;
}

.post .twitter-link .icon {
  margin-right: 0.4rem;
}

.post .twitter-link .icon svg {
  width: 24px;
  fill: #d80c50;
}

ol,
ul {
  list-style: none;
  counter-reset: li;
}

ol:not(.no-bullets) li::before {
  counter-increment: li;
  content: '.' counters(li, '.');
  color: #ff0057;
  width: 1em;
  margin-left: -1.5em;
  margin-right: 0.5em;
  text-align: right;
  font-feature-settings: 'ss01' 1;
  font-weight: 700;
  direction: rtl;
  float: left;
}

ul:not(.no-bullets) li::before {
  content: '◦';
  color: #ff0057;
  display: inline-block;
  width: 1em;
  margin-left: -1.5em;
  margin-right: 0.5em;
  text-align: right;
  font-size: 1.6rem;
  font-weight: 700;
}
