.chain > * {
  opacity: 0;
  transform: scale(0.1);
  transition: 240ms transform ease, 140ms opacity ease;
  transform-origin: bottom center;
}

.chain-loaded > * {
  opacity: 1;
  transform: scale(1);
}
