.footer {
  padding-block: var(--space-12);
}

.footer > div {
  display: grid;
  gap: var(--space-5);
  text-align: center;
}

.footer hr {
  position: relative;
  margin-inline: auto;
  margin-block-start: var(--space-12);
  margin-block-end: var(--space-16);
  max-inline-size: var(--width-comfortable);
  block-size: 2px;
  border: none;
  background: var(--white);
  background-size: 100%;
  background-image: linear-gradient(
    to right,
    transparent,
    var(--gray-300),
    transparent
  );
  outline: none;
}

.footer hr:before {
  content: attr(data-symbol);
  position: absolute;
  inset-block-start: 0;
  left: 50%;
  padding-block: var(--space-2);
  padding-inline: var(--space-10);
  font-size: var(--text-4xl);
  color: var(--primary-color-500);
  background: var(--white);
  transform: translate(-50%, -50%);
}

.footer P {
  margin: 0;
  color: var(--gray-700);
}

.footer p:first-child a {
  display: inline-flex;
  gap: var(--space-1);
  align-items: baseline;
  margin-left: var(--space-1);
  font-weight: 700;
  color: var(--gray-900);
}

.footer a:hover {
  text-decoration: none;
}

.footer svg {
  display: inline-block;
}

.footer a span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: var(--space-2);
  border-radius: var(--rounded-circle);
  color: var(--white);
}

.footer a span svg {
  color: var(--white);
  width: 12px;
  height: 12px;
}

.footer p:last-child svg {
  color: var(--primary-color-500);
  stroke-width: 3px;
}

.footer b {
  color: var(--gray-900);
}
